

.card{
    background-color: #D8D8D8;
}

.menuitem{
    color: #616161;
    font-weight: bolder;
    font-size: 0.9em;
    font-family: 'Raleway';
}

.mm{
    color: lightskyblue;
    color: darkblue;
    color: yellow;
    color: orange;
    color: orangered;
    color: red;
    color: darkgray;

}