
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card:hover{
    cursor: pointer;
}

.multimenu .menuitem span{
    color: #1976d2;
}

.foldername{
    font-weight: bolder;
    font-size: small;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #616161;
}
.foldname{
    color: #1976d2;
    font-weight: 1000;

}

.foldervalue{
    justify-self: flex-end;
    font-size: x-small;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 1%;
    width: 100%;
}

#form-dialog-title{
    color: #616161;
    font-weight: 1000;
}

.span2, .span1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.folderlistcontainer{
    padding-top: 6%;
}*/