
.logo{
 display: flex;
align-items: center;
}

.logo:hover{
    cursor: pointer;
}

.logo_image{
    height: 2%;
    width: 2%;
}

.logo>div{
    font-weight: bolder;
    font-size: 0.7em;
    font-family: 'Pacifico';
    padding-left: 0.3%;
}