.add {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

input[type='file'].uploadfile {
  border: none;
  cursor: pointer;
  color: #9c27b0;
  font-weight: bolder;
  font-family: 'Raleway';
}
::placeholder {
  display: none;
}

::-webkit-file-upload-button {
  display: none;
}
::-webkit-file-upload-button:hover,
input[type='file'] {
  cursor: pointer;
}

.uploadfile + button {
  border: none;
  color: #ffff;
  background-color: #9c27b0;
  font-weight: bold;
  font-family: 'Raleway';
}

.uploadfile + button:hover {
  cursor: pointer;
  background-color: #fff;
  border: solid thin #9c27b0;
  color: #9c27b0;
  transition: all 1s;
}
