@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');

.App {
  text-align: center;
  min-height: 100%;
}

.file_type_pigment {
  min-height: 0.8vh;
  width: 10%;
}

.hidden {
  display: none;
}

.iconImage {
  height: 5vh;
  width: 5vw;
}

.iconImageB {
  height: 90px;
  width: 90px;
}

.card {
  box-sizing: border-box;
  height: 50vh;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 600px) {
  .statcontainer {
    flex-direction: column;
    justify-content: space-between;
  }
  .pagenav {
    align-self: flex-end;
    font-size: small;
  }
  .statcontainer .span1 {
    font-size: small;
  }

  .folderlistcontainer {
    margin-bottom: 50%;
  }

  .openfolderview .container {
    margin-bottom: 50%;
    font-size: small;
  }

  .card {
    height: 40vh;
  }
}

.includecardImg{
  width: 100%;
  text-align: center;
}
