.dashboard {
  overflow: scroll;
  padding-bottom: 10%;
}

.dashboard > .footer_cover {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.listcontainer {
  border-bottom: solid thin #d8d8d8;
  padding-bottom: 5%;
}

.dashboard.filedashboard .listcontainer,
.dashboard.textdashboard .listcontainer {
  border: none;
}
