.card {
  background-color: #d8d8d8;
  font-family: 'Raleway';
  box-sizing: border-box;
  padding: 0 2%;
}
.card .filename {
  color: hsl(0, 0%, 38%);
  font-weight: bolder;
  font-size: 0.8em;
  padding: 3%;
  text-align: start;
  width: 100%;
  overflow-wrap: anywhere;
}

.card .filetype {
  color: #616161;
  font-weight: bolder;
  font-size: 1.1em;
  padding: 3%;
}

.menuitem {
  color: #616161;
  font-weight: 1000;
  font-size: 0.9em;
  font-family: 'Raleway';
}

.unsupported_title {
  color: #fff;
  font-family: 'Raleway';
  font-weight: 1000;
  font-size: 2.1em;
}
