.nocontentcont {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 100%;
  font-family: 'Raleway';
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url('../images/content.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 25vh;
  align-self: center;
  font-size: 1.5em;
  font-weight: 1000;
  color: #616161;
  font-family: 'Pacifico';
}

.nocontentmsg {
  color: rgb(211, 211, 211);
  font-size: 3em;
}
