.openfolderview {
  font-family: 'Raleway';
  font-weight: 1000;
  color: #616161;
}

.openfolderview .container {
  padding: 1% 5%;
}

.openfolderlistcontainer {
  border-top: solid thin #616161;
  padding-top: 5%;
}

.filename {
  font-weight: bolder;
  font-size: small;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #616161;
}
.fname {
  color: #1976d2;
  font-weight: 1000;
}

.openfoldernav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: flex-start;
}

/* .openfoldernav > *{
    border: solid blue;

} */

.filevalue {
  justify-self: flex-end;
  font-size: x-small;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 1%;
  width: 100%;
}

#form-dialog-title {
  color: #616161;
  font-weight: 1000;
}

.span2,
.span1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
