.prompt {
  display: inline;
  font-weight: 1000;
}
.prompt .user {
  color: #ef0107;
}
.prompt .pos {
  color: #616161;
}

.prompt .paws {
  color: #1976d2;
}

.prompt .cusor{
    color: #006A4E;
}
.prompt .root {
  color: #720e9e>;
}
